name: Build and deploy frontend
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install yarn
        run: npm i -g yarn

      - name: Install dependencies
        run: yarn
      
      - name: Remove build folder case exists
        run: rm -rf dist/
        
      - name: Build frontend
        run: yarn build
      
      - name: Add dist
        run: git add dist/ --force
      
      - name: Commit dist
        run: |
          git config --global user.email "breno_douglas@hotmail.com"
          git config --global user.name "Breno Douglas"
          git commit -am "Add dist folder"

      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: "breninho94@gmail.com"
